@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--DarkGreen);
}
html::-webkit-scrollbar-track {
  background-color: black;
}
:root {
  --LightBlue: #9EC8B9;
  --LightGreen: #5C8374;
  --DarkGreen: #1B4242;
  --DarkBlue: #092635;
}
body {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
}
.App {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: auto;
  column-gap: 1.5rem;
  width: 100%;
}
#SideBar {
  min-height: 97.5vh;
}